{% include 'public_header.html' %}
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h2>United in the Search for Missing Loved Ones</h2>
            <p class="lead">Our platform connects families, law enforcement, and communities to aid in the urgent search for missing individuals.</p>
            <div class="cta-buttons" data-aos="fade-up" data-aos-delay="300">
              <a href="#portfolio" class="btn btn-primary">View All Cases</a>
              <a href="#contact" class="btn btn-outline">How You Can Help</a>
            </div>
{#            <div class="hero-stats" data-aos="fade-up" data-aos-delay="400">#}
{#              <div class="stat-item">#}
{#                <span class="stat-number">100+</span>#}
{#                <span class="stat-label">Cases Shared</span>#}
{#              </div>#}
{#              <div class="stat-item">#}
{#                <span class="stat-number">50+</span>#}
{#                <span class="stat-label">Individuals Located</span>#}
{#              </div>#}
{#              <div class="stat-item">#}
{#                <span class="stat-number">100+</span>#}
{#                <span class="stat-label">Active Community of Supporters</span>#}
{#              </div>#}
{#            </div>#}
          </div>
          <div class="col-lg-6">
            <div class="hero-image">
              <img src="/static/assets/img/profile/home_img.png" alt="Portfolio Hero Image" class="img-fluid" data-aos="zoom-out" data-aos-delay="300">
              <div class="shape-1"></div>
              <div class="shape-2"></div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <div class="title-shape">
          <svg viewBox="0 0 200 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M 0,10 C 40,0 60,20 100,10 C 140,0 160,20 200,10" fill="none" stroke="currentColor" stroke-width="2"></path>
          </svg>
        </div>
        <p>we are dedicated to leveraging technology and community collaboration to aid in the urgent search for missing individuals. Our platform provides a vital connection between citizens, law enforcement, and administrators, working together to bring loved ones home.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">
          <div class="col-lg-6 position-relative" data-aos="fade-right" data-aos-delay="200">
            <div class="about-image">
              <img src="/static/assets/img/profile/home_aboutme.png" alt="Profile Image" class="img-fluid rounded-4">
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
            <div class="about-content">
              <span class="subtitle">WHO WE ARE</span>

              <h2>Building bridges between families,communities and vital resources</h2>

              <p class="lead mb-4"> CrowdTrace was born from a deep understanding of the challenges faced in missing persons cases. We recognized the critical need for a centralized, accessible, and collaborative platform to bridge the gaps in information sharing and accelerate search efforts. Our commitment is driven by the belief that every missing person deserves to be found, and every family deserves answers.</p>

{#              <p class="mb-4">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>#}

                <div class="personal-info">
  <div class="row g-4">
    <div class="col-6">
      <div class="info-item">
        <span class="label">Rapid Reporting</span>
        <span class="value">Streamlined tools for immediate information sharing.</span>
      </div>
    </div>

    <div class="col-6">
      <div class="info-item">
        <span class="label">Intelligent Matching</span>
        <span class="value">AI-powered leads to connect crucial data points.</span>
      </div>
    </div>

    <div class="col-6">
      <div class="info-item">
        <span class="label">Secure Collaboration</span>
        <span class="value">Trusted channels for multi-agency engagement.</span>
      </div>
    </div>

    <div class="col-6">
      <div class="info-item">
        <span class="label">Compassionate Outreach</span>
        <span class="value">Connecting families with resources and support.</span>
      </div>
    </div>

  </div>
</div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


  </main>

 {% include 'footer.html' %}